<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.mapper.BoardMapper">
  <select id="selectBoardList" resultType="com.java.vo.BoardVo">
    select * from( select rownum rnum,a.* from 
    ( select * from board order by topchk desc,bgroup desc,bstep asc) a )
	where rnum between #{startrow} and #{endrow}
  </select>
  
  <select id="selectCount" resultType="int" >
    select count(*) count from board
  </select>
  
  <select id="selectOne" resultType="com.java.vo.BoardVo">
    select * from board where bno=#{bno}
  </select>
  
  <update id="updateBhitUp">
    update board set bhit=bhit+1 where bno=#{bno}
  </update>
  
  <insert id="insertBoard"> <!-- 게시글 저장 -->
    insert into board values
    (board_seq.nextval,#{id},#{btitle},#{bcontent},sysdate,1,1,board_seq.currval,0,#{bfile},0)
  </insert>
  
  <insert id="insertReply"> <!-- 게시글 답변달기 -->
    insert into board values
    (board_seq.nextval,#{id},#{btitle},#{bcontent},sysdate,#{bstep}+1,1,
    #{bgroup},#{bindent}+1,#{bfile},0)
  </insert>
  
  <update id="updateReplyStepUp">
    update board set bstep=bstep+1 where bgroup=#{bgroup} and bstep>#{bstep}
  </update>
  
  <update id="updateBoard">
    update board set btitle=#{btitle},bcontent=#{bcontent},bdate=sysdate,bfile=#{bfile} 
    where bno=#{bno}
  </update>
  
  <delete id="deleteBoard">
    delete board where bno=#{bno}
  </delete>
  
  
  
</mapper>